In [1]:
import pandas as pd

In [31]:
df = pd.read_csv('output.csv')
df2 = pd.read_csv('dummy_data.csv')

# just to clarify the geographic data is focused in the U.S.
df['country'] = ['USA' for _ in range(1000)]

In [32]:
lst = [1,2,3,4]
for num in lst:
    df.drop(columns=[f'link{num}_converted'], inplace=True)
    df[f'link{num}_clicked'] = df[f'link{num}_clicked'].astype(int)
    
df['Page Visits'] = df2['# of Page Visits']
df['Conversion Rate'] = df2['Conversion Rate']
df['Click Through Rate'] = df2['Click Through Rate']

In [47]:
cols = ['link1_clicked', 'link2_clicked', 'link3_clicked', 'link4_clicked']
df.loc[df[cols].eq(0).all(axis=1), ['Page Visits', 'Conversion Rate', 'Click Through Rate']] = 0

In [49]:
data = df.to_csv('data.csv', index=False)

In [50]:
df

,states,cities,link1_clicked,link2_clicked,link3_clicked,link4_clicked,country,Page Visits,Conversion Rate,Click Through Rate
0,Pennsylvania,Stanley,0,0,0,1,USA,92,0.141794,7.879545
1,Georgia,Ennis,1,0,1,0,USA,7,0.242949,5.940484
2,West Virginia,North Las Vegas,1,0,1,0,USA,35,0.320826,0.163709
3,Iowa,North Valley,0,0,0,0,USA,0,0.000000,0.000000
4,Vermont,Cape Fear,1,1,1,1,USA,92,0.061356,7.054635
...,...,...,...,...,...,...,...,...,...,...
995,Illinois,New Orleans,0,0,1,0,USA,17,0.126172,0.934128
996,North Carolina,Lincoln,0,1,1,0,USA,68,0.474766,6.858261
997,Delaware,Fort Lauderdale,1,1,0,1,USA,47,0.472886,2.432666
998,New Hampshire,Erie,0,0,1,1,USA,25,0.308871,9.441384
999,Colorado,Dallas,0,0,1,0,USA,94,0.463016,8.725391